/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/batticaloa.jpg");
    background-size: cover;
    width: 720px;
    height: 343px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-main-title, 
.hero-sub-title {
    color: white;
    padding: 5px 28px;
    border-radius: 10px;
}

.hero-main-title {
    background-color: #1D3557;
    font-size: 32px;
}

.hero-sub-title {
    width: 412px;
    background-color: #457B9D;
    font-size: 18px;
}

.activities {
    width: 720px;
    height: 378px;
    background-color: #F1FAEE;
    margin: 0  auto;
}

#activities-title {
    font-size: 22px;
    margin: 0;
    padding-top: 39px;
}

.places {
    display: flex;
    margin-top: 54px;
    justify-content: space-around;
}

.places .place {
    width: 200px;
}

.description {
    font-size: 14px;
    font-weight: 400;
}

.activity-title {
    font-size: 16px;
    font-weight: 700;
}

.place-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.place-image:hover {
    box-shadow: 0px 0px 10px #457B9D;
}

.guide {
    width: 720px;
    height: 394px;
    margin: 0 auto;
    padding: 50px 0;
}

.guide-container {
    margin: 0 auto;
    width: 400px;
    height: 294px;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    background-color: #A8DADC;
    padding: 23px 13px;
    border-radius: 10px;
    border-bottom: 5px solid #E63946;
}

.guide-details {
    width: 160px;
}

.guide-image {
    width: 160px;
    height: auto;
    border-radius: 50%  ;
}